body{
    margin:0;
    font-family: Arial;
    background-color:#f4f4f4;
}

.titulo-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.titulo-logo img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.sidebar{
    width:200px;
    height:100%;
    background-color:#222;
    position:fixed;
}

h1 {
    font-size: 42px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

.titulo-contato h1{
    font-size:40px;
}

.titulo-contato{
    display:flex;
    align-items:center;
    gap:12px;
}

.titulo-contato h1{
    font-size:40px;
    margin:0;
}

.titulo-contato .logo-topo{
    width:45px;
}

.sidebar a{
    display:block;
    color:white;
    padding:15px;
    text-decoration:none;
}

.sidebar a:hover{
    background-color:#444;
}

.active{
    background-color:crimson;
}

.content{
    margin-left:220px;
    padding:30px;
    max-width: 1200px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}

.card{
    width:250px;
    background:white;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    background-color:crimson;
    color:white;
    border:none;
    cursor:pointer;
    font-size:15px;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

button:hover{
    background-color:rgb(252, 28, 73);
    transform:scale(1.03);
}

.modal{
    display:none;
    position:absolute;
    top:30%;
    left:40%;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.close{
    cursor:pointer;
    color:red;
    font-weight:bold;
}

form{
    display:flex;
    flex-direction:column;
    width:300px;
}

.termo-destaque{
    color: crimson;
    font-weight: bold;
}

input{
    margin-bottom:15px;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:15px;
}

input:focus{
    outline:none;
    border:1px solid crimson;
}

textarea{
    width:100%;
    height:120px;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    resize:none;
    font-size:15px;
    font-family:Arial;
    margin-bottom:15px;
    box-sizing:border-box;
}

.checkbox-termos{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-termos input[type="checkbox"]{
    width: auto;
    margin: 0;
}

.link-termos{
    color: #d65a6f;
    text-decoration: none;
    font-weight: bold;
}

.link-termos:hover{
    color: crimson;
    text-decoration: underline;
}


textarea:focus{
    outline:none;
    border:1px solid crimson;
}

input[type="submit"]{
    background-color:crimson;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    transition:0.3s;
}

input[type="submit"]:hover{
    background-color:rgb(252, 28, 73);
    transform:scale(1.03);
}

.descricao{
    text-align:center;
    padding:10px;
    font-size:15px;
    color:#333;
}

.about-box{
    background-color:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    max-width:900px;
}

.about-box h1{
    color:crimson;
    margin-bottom:20px;
    text-align:center;
}

.about-box p{
    font-size:18px;
    line-height:1.6;
    color:#333;
    margin-bottom:15px;
}

.about-info{
    margin-top:30px;
    background-color:#f3f3f3;
    padding:20px;
    border-radius:8px;
}